.footer-admin {
    text-align: center;
    padding: 20px 0 20px;
}
.wrap-page {
    display: inline-block;
    margin-right: 5px;
}

.gallery {
    display: inline-block;
    margin-top: 20px;
}
.upload-box {
    padding: 40px;
    margin: 20px 0;
    display: block;
    border: 1px solid #d7d7d7;
}
#MediaModal img:hover {
    /*border: #000 2px solid;*/
    cursor: pointer;
}
.selected {
    border: #e95420 5px solid;
}

.img-card-background {
    padding: 0px;
    height: 180px;
    background-size: cover;
    background-position: center center;
    border-radius: 4px;
}

.scroll {
    max-height: 200px;
    overflow-y: auto;
}

.input_file {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}
